<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<p>Static Props when loading page : {{data}}</p>
<button id="load-chapter" onclick="loadChapter()">Load Chapter</button>
<div id="chapter-container">
    <!-- This is where the loaded chapter will be inserted -->
    <div id="chapter-content"></div>
</div>