body {
  padding: 50px;
  font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: rgb(228, 216, 216);
  background-color: rgb(32, 30, 30);
}
/* #chapter-content{

} */

a {
  color: #00B7FF;
}
