services:
  app:
    build:
      context: ../../
      dockerfile: ./deploy/Dockerfile
      target: dev
    container_name: mtlparsorai-local # if change -> update init_project.sh
    ports:
      - "3000:3000"
      - "35729:35729" #livereload websocket
    env_file:
      - ../../.env
    environment:
      - NODE_ENV=development
      - CHOKIDAR_USEPOLLING=true
      - REDIS_URL=redis://redis:6379
    depends_on:
      - redis
    volumes:
      - ../../src:/app/src
      - ../../bin:/app/bin
      - ../../tsconfig.json:/app/tsconfig.json
  redis:
    image: redis:7-alpine
    container_name: redis
    restart: unless-stopped
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data

volumes:
  redis_data: