<h3>{{title}}</h3>
<div class="flex-row">
    <a href="/">Go back to home</a>
    <form action="/auth/logout" method="POST">
        <button type="submit">Logout</button>
    </form>
</div><hr style="width: 100%; margin: 1em 0">
<div>
    Here will be all the books stored for you profil
</div>

<script>
    // we set some variable front the back
    let destination = {{{json  destination }}};
</script>